#portrait {
    height: 400px;
    float: right;
    margin: none;
}

#primary_head {
    font-size: 60px;
    padding-bottom: 40px;
}

object {
    padding: 10px;
    border: 3px grey solid;
    border-radius: 5px;
}

/* body {

} */

