#portrait {
    height: 300px;
    float: right;
    margin: none;
    padding-left: 20px;
}

#primary_head {
    font-size: 40px;
    padding-bottom: 20px;
}

object {
    padding: 10px;
    border: 3px grey solid;
    border-radius: 5px;
}

.linked-image {
    width: 500px;
    transition: opacity 0.2s;
    cursor: pointer;
}
.linked-image:hover {
    opacity: 0.7;
}

