.collapsible {
    cursor: pointer;
    width: 100%;
    border-bottom: 1px solid grey;
    text-align: left;
    padding: 10px 0;
    display: block;
    margin: 0;
}

.mainItems {
    margin: 0;
}

.mainItems > div {
    padding: 8px 0 16px;
}

.active, .collapsible:hover {
    opacity: 0.7;
}

.post-content h2 {
    margin: 0;
    font-size: 32px;
}

.post-content h3 {
    font-size: 24px;
}

.post-content h3, .post-content h4, .post-content h5, .post-content h6 {
    margin: 16px 0;
}

h3.workh3 {
    margin-top: 32px;
}

p {
    line-height: 1.42;
    margin: 14px 0;
}

.post-content li {
    margin-top: 0;
}
